In [3]:
#pip install pandas

In [4]:
#pip install matplotlib

In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/250.0 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 3.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import xpress as xp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Create a problem 

stage_1 = xp.problem(name='F_O stage 1')

Using the license file found in your Xpress installation. If you want to use this license and no longer want to see this message, use the following code before using the xpress module:
  xpress.init('C:/xpressmp/bin/xpauth.xpr')

In [81]:
# Import data into panda dataframes

df_rooms = pd.read_excel('Relevant Data Room.xlsx', header=0)
df_course_demand = pd.read_excel('Course Data.xlsx', header=0, sheet_name = 'Dict')[['Size']]
df_courses = pd.read_excel('Course Data.xlsx', header=0, sheet_name='Dict')
df_curricula = pd.read_excel('Course Data.xlsx', header=0, sheet_name='Programs')

df_rooms_types = pd.read_excel('Relevant Data Room.xlsx', header=0, sheet_name='ROOM_DIC')[['ROOM INDEX', 'ROOM NAME', 'CAP', 'ROOM LAYOUT']]
#df_courses

In [82]:
cu_1 = list(df_curricula['Y1'])
cu_2 = list(df_curricula['Y2'])
cu_3 = list(df_curricula['Y3'])
df_curricula

,Code,Y1,Y2,Y3,Y4,Y5
0,Mathematics,MATH08057,"MATH08063, MATH08066","MATH10066, MATH10068",NaN,NaN
1,Applied Mathematics,MATH08057,"MATH08063, MATH08066","MATH10068, MATH10066, MATH10098",NaN,NaN
2,Mathematics and Business,MATH08057,"MATH08063, MATH08066, MATH08068",MATH10066,NaN,NaN
3,Mathematics and Physics,MATH08057,MATH08066,MATH10066,NaN,NaN
4,Mathematics and Statistics,MATH08057,"MATH08063,MATH08066",MATH10095,NaN,NaN
5,Mathematics and Music,MATH08057,MATH08063,NaN,NaN,NaN
6,Mathematics and Biology,NaN,NaN,"MATH10066,MATH10095,MATH10007",MATH10013,NaN
7,MSc Operational Research,"MATH10065,MATH11111,MATH11007,MATH11029",NaN,NaN,NaN,NaN
8,MSc Operational Research with Data Science,"MATH10065,MATH11111,MATH11007",NaN,NaN,NaN,NaN
9,MSc Operational Research with Computational Op...,"MATH10065,MATH11111,MATH11007,MATH11029",NaN,NaN,NaN,NaN
10,MSc Operational Research with Risk,"MATH10065,MATH11111,MATH11007,MATH11029",NaN,NaN,NaN,NaN
11,MSc Statistics and Operational Research,"MATH11177,MATH10065,MATH11111,MATH11187,MATH11...",NaN,NaN,NaN,NaN
12,MSc Statistics with Data Science,"MATH11177,MATH11187",NaN,NaN,NaN,NaN
13,MSc Financial Modelling and Optimization,"MATH11153,MATH11111,MATH11154",NaN,NaN,NaN,NaN
14,MSc Computational Mathematical Finance,"MATH11153,MATH11199,MATH11154",NaN,NaN,NaN,NaN
15,MSc Computational Applied Mathematics,"MATH10098, MATH11199",NaN,NaN,NaN,NaN

In [85]:
cu_1

['MATH08057',
 'MATH08057',
 'MATH08057',
 'MATH08057',
 'MATH08057',
 'MATH08057',
 nan,
 'MATH10065,MATH11111,MATH11007,MATH11029',
 'MATH10065,MATH11111,MATH11007',
 'MATH10065,MATH11111,MATH11007,MATH11029',
 'MATH10065,MATH11111,MATH11007,MATH11029',
 'MATH11177,MATH10065,MATH11111,MATH11187,MATH11007,MATH11176',
 'MATH11177,MATH11187',
 'MATH11153,MATH11111,MATH11154',
 'MATH11153,MATH11199,MATH11154',
 'MATH10098, MATH11199']

In [112]:
course_code = df_courses['Course Code'].to_numpy()
course_code

c = cu_1[7]
c = c.split(',')
i = np.where(np.isin(course_code, np.array(c)))
print(c)
print(i)
print(course_code[23])

['MATH10065', 'MATH11111', 'MATH11007', 'MATH11029']
(array([14, 15, 29, 40], dtype=int64),)
MATH08057

In [84]:
# Index sets
courses = list(df_courses['Course'])
course_code = df_courses['Course Code'].to_numpy()
demand = list(df_course_demand['Size'])
curricula = list(df_curricula['Code'])
timeslots = [i for i in range(9)]
days = ['M_O', 'T_O', 'W_O', 'TH_O', 'F_O'] #Days for odd week
rooms = list(df_rooms['ROOM INDEX'])
room_type = [1,2,3]
years = [1,2,3]
#Lectures can happen in Theatre, Classroom
#Workshops happen in Teaching Studio, Classroom, Boardroom 
class_type = ['L', 'W']
workshop_pattern = [1, 2, 3]

capacities = sorted(np.append(df_rooms['CAP'].unique(), 0))
# Parameters 
lecture_hours = list(df_courses['Lecture - Duration'])
workshop_hours = list(df_courses['Workshop - Duration'])




# Create the variables
x = np.array([xp.var( name='x_{0}_{1}_{2}'.format(i, j, k), vartype=xp.binary)
                  for i in courses for j in timeslots for k in class_type], dtype=xp.npvar).reshape(len(courses), len(timeslots), len(class_type))

y = np.array([xp.var( name='y_{0}_{1}_{2}'.format(i, j, s), vartype=xp.binary)
                  for i in courses for j in timeslots for s in capacities], dtype=xp.npvar).reshape(len(courses), len(timeslots), len(capacities))

z = np.array([xp.var( name='z_{0}_{1}'.format(i, d), vartype=xp.binary)
                  for i in courses for d in days], dtype=xp.npvar).reshape(len(courses), len(days))

w = np.array([xp.var( name='w_{0}'.format(i))
                    for i in courses], dtype=xp.npvar)

r = np.array([xp.var( name='r_{0}_{1}_{2}'.format(cu, j, k), vartype=xp.binary)
                  for  cu in curricula for j in timeslots for k in years], dtype=xp.npvar).reshape(len(curricula), len(timeslots), len(years))

v = np.array([xp.var( name='v_{0}_{1}'.format(cu, j), vartype=xp.binary)
                  for cu in curricula for j in timeslots], dtype=xp.npvar).reshape(len(curricula), len(timeslots))

#counts number of clashes 
#h =

In [27]:
# Add the variables to the problem
stage_1.addVariable(x, y, z, w, r, v)

?1030 Error: Duplicate column names are not allowed - column 810 would have same name as column 22302

SolverError: ?1030 Error: Duplicate column names are not allowed - column 810 would have same name as column 22302

In [60]:
type(workshop_hours[0])
workshop_hours

[2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 3]

In [113]:
#Add constraints

#C1: A course i in C should be assigned exactly L(c) lectures that is L(c)== #timeslots(c)
C1_L = [xp.Sum(x[i, j, 0] for j in (timeslots)) == lecture_hours[i] for i in range(len(courses))]
#for workshops
C1_W = [xp.Sum(x[i, j, 1] for j in (timeslots)) == workshop_hours[i] for i in range(len(courses))]

#C2: At s given time period we do not assign more courses than available rooms in general for both types

#!!! separate the types
C2 = [xp.Sum(x[i, j, k] for i in range(len(courses)) for k in range(len(class_type))) <= len(rooms) for j in (timeslots)]

# Lectures on types 1, 3
#C2_L = [x[i, j, 0] == 0 for i in range(len(courses)) for j in timeslots]
# Workshops on types 2, 3
#C2_W = [x[i, j, 0] == 0 for i in range(len(courses)) for j in timeslots]

#C3: Makes sure that if a room is assigned to a course in a time period, then course is assigned to that time period
C3 = [x[i,j,k] - y[i,j,s] >= 0 for i in range(len(courses)) for j in (timeslots) for k in range(len(class_type)) for s in range(len(capacities))]

#C4: ?

#C5: Calculates if classtypes from a course are planned on a day 
C5 = [xp.Sum(x[i,j,k] for j in (timeslots)) - z[i,d] >= 0 for i in range(len(courses)) for k in (range(len(class_type))) for d in range(len((days)))]

#C6: Violation of mnd(c)
#C6 = 

#C7: Only one course from curriculum is planned at timeslot t
#NEED COURSES IN CURRICULA FOR THIS 
# REMEMBER TO CHANGE THISSSSS
C7 = [xp.Sum(x[i,j,k]-r[cu, j, l] for i in range(len(curricula)) for k in range(len(class_type))) == 0 for cu in range(len(curricula)) for j in (timeslots) for l in range(len(years))]

c = cu_1[7]
c = c.split(',')
i = np.where(np.isin(course_code, np.array(c)))
cu_1 = list(df_curricula['Y1'])

#C8: Calculates curriculum compactness violation 
#C8 = [-r[cu,j-1] + r[cu,j] - r[cu, j+1] - v[cu,j] <= 0 for cu in range(len(curricula)) for j in [1,2,3,4,5,6,7]]

#C9: Demand is satisfied for classes

C9 = [y[i, j, s] == 0 for i in range(len(courses)) for j in timeslots for s in range(len(capacities)) if s < demand[i]]


#C10

In [ ]:
#Add constraints 
#stage_1.addConstraint(C1, )

In [ ]:
#Write objective function 
stage_1.setObjective(h, sense = xp.minimize)