In [1]:
import xpress as xp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
# Create a problem 

stage_1 = xp.problem(name='F_O stage 1')

In [44]:
# Import data into panda dataframes

df_rooms = pd.read_excel('Relevant Data Room.xlsx', header=0)
df_courses = pd.read_excel('Course Data.xlsx', header=0)
df_curricula = pd.read_excel('Baseline solution(ACHIEVED DELIVERABLE) and extracted data(ONGOING).xlsx', header=0, sheet_name='Curricula')

df_courses

,Course,Lecture - Duration,Workshop - Duration,Workshop pattern,Course Code
0,1,2,2,1,MATH08062
1,2,2,1,1,MATH08071
2,3,2,1,3,MATH11226
3,4,2,1,1,MATH10053
4,5,2,1,3,MATH11236
5,6,2,1,2,MATH11177
6,7,2,1,2,MATH11230
7,8,2,1,2,MATH10072
8,9,2,1,2,MATH10017
9,10,2,1,2,MATH11235
10,11,2,1,3,MATH11153
11,12,3,1,1,MATH08074
12,13,1,2,1,MATH10099
13,14,2,1,3,MATH10047
14,15,2,1,3,MATH10065
15,16,2,1,2,MATH11111
16,17,2,1,3,MATH10076
17,18,2,1,3,MATH11187
18,19,2,1,3,MATH10074
19,20,3,1,1,MATH10066
20,21,1,2,1,MATH11231
21,22,1,1.5,1,MATH08077
22,23,2,1,3,MATH11053
23,24,3,1.5,1,MATH08057
24,25,2,1,3,MATH10100
25,26,0,1,1,MATH07004
26,27,2,1,2,MATH10082
27,28,2,1,3,MATH10013
28,29,2,1,1,MATH08072
29,30,2,1,1,MATH11007
30,31,2,"1,2","2,3",MATH10098
31,32,2,1,2,MATH08066
32,33,2,1,3,MATH10024
33,34,1,2,1,MATH11199
34,35,1,2,1,MATH11197
35,36,2,1,1,MATH08063
36,37,2,0,0,MATH10102
37,38,2,1,3,MATH10095
38,39,2,1,1,MATH11176
39,40,2,1,1,MATH11154
40,41,2,2,2,MATH11029
41,42,2,1,3,MATH10028
42,43,2,1,3,MATH11144
43,44,2,1,3,MATH11179
44,45,2,1,2,MATH10007

In [45]:
# Index sets
courses = list(df_courses['Course'])
curricula = list(df_curricula['Code'])
timeslots = [i for i in range(9)]
days = ['M_O', 'T_O', 'W_O', 'TH_O', 'F_O', 'M_E', 'T_E', 'W_E', 'TH_E', 'F_E']
rooms = list(df_rooms['ROOM INDEX'])
room_types = sorted(df_rooms['ROOM LAYOUT'].unique())
class_type = ['L', 'W', 'CW']
workshop_pattern = [1, 2, 3]

capacities = sorted(np.append(df_rooms['CAP'].unique(), 0))

# Parameters 



# Create the variables
x = np.array([xp.var( name='x_{0}_{1}_{2}'.format(i, j, k), vartype=xp.binary)
                  for i in courses for j in timeslots for k in class_type], dtype=xp.npvar).reshape(len(courses), len(timeslots), len(class_type))

y = np.array([xp.var( name='x_{0}_{1}_{2}'.format(i, j, k), vartype=xp.binary)
                  for i in courses for j in timeslots for k in capacities], dtype=xp.npvar).reshape(len(courses), len(timeslots), len(capacities))

z = np.array([xp.var( name='z_{0}_{1}'.format(i, j), vartype=xp.binary)
                  for i in courses for j in days], dtype=xp.npvar).reshape(len(courses), len(days))

w = np.array([xp.var( name='w_{0}'.format(i))
                    for i in courses], dtype=xp.npvar)

r = np.array([xp.var( name='r_{0}_{1}'.format(i, j), vartype=xp.binary)
                  for i in curricula for j in timeslots], dtype=xp.npvar).reshape(len(curricula), len(timeslots))

v = np.array([xp.var( name='v_{0}_{1}'.format(i, j), vartype=xp.binary)
                  for i in curricula for j in timeslots], dtype=xp.npvar).reshape(len(curricula), len(timeslots))


# Add the variables to the problem
stage_1.addVariable(x, y, z, w, r, v)